.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main {
    margin: 1em 0;
    max-width: 70%;
    background-color: aliceblue;
    border-radius: 3em;
}