.list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.list .listItem {
    width: 100%;
    display: flex;
    justify-content: center;
}

.list:nth-child(1) {
    margin-top: 1em;
}

.list:last-child {
    margin-bottom: 1em;
}